/revisão2/nbproject/private/
/revisão2/build/
/ProjetoGerenciaEstoque/build/
/InterfaceGráfica/InterfaceGráfica/nbproject/private/
/InterfaceGráfica/InterfaceGráfica/build/
/TelaPrincipal/build/
/TelaPrincipal/dist/
/TelaPrincipal/nbproject/private/
